:root {
  --window-padding: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
}

#editor {
  bottom: 0;
  color: #666;
  cursor: text;
  font-size: 14px;
  left: 0;
  line-height: 1.5;
  outline: none;
  overflow: auto;
  padding: var(--window-padding);
  position: absolute;
  right: 0;
  top: 0;
  white-space: pre-wrap;
  -webkit-app-region: no-drag;
}

#left {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: var(--window-padding);
}

#top {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: var(--window-padding);
  left: 0;
  right: var(--window-padding);
  position: fixed;
  top: 0;
}

.draggable {
  -webkit-app-region: drag;
}
